<div class="header left_buttons_1 right_buttons_0">
  <div class="icon icon_bullet_list button left_1" data-instaclick="Pager.back()"></div>
  <div class="text"><div class="title">Admin</div></div>
</div>
