.participationInfo {
  .participationSummary {
    cursor: pointer;
    color: steelblue;
  }
  .participationDetail {
    .label {
      font-style: italic;
    }
  }

}

.network-status .text {
  font-size:18px;
}
