/* first row */
.npb-icon-plus { background-position: 0px 1px !important; }
.npb-icon-minus { background-position: -36px 1px !important; }
.npb-icon-delete { background-position: -71px 1px !important; }
.npb-icon-arrow-r { background-position: -107px 1px !important; }
.npb-icon-arrow-l { background-position: -143px 1px !important; }
.npb-icon-arrow-u { background-position: -179px 1px !important; }
.npb-icon-arrow-d { background-position: -215px 1px !important; }
.npb-icon-check { background-position: -251px 1px !important; }
.npb-icon-gear { background-position: -287px 1px !important; }
.npb-icon-refresh { background-position: -323px 1px !important; }
.npb-icon-forward { background-position: -359px 1px !important; }
.npb-icon-back { background-position: -396px -0 !important; }
.npb-icon-grid { background-position: -431px 1px !important; }
.npb-icon-star { background-position: -467px 1px !important; }
.npb-icon-alert { background-position: -503px 1px !important; }
.npb-icon-info { background-position: -539px 1px !important; }
.npb-icon-home { background-position: -575px 1px !important; }
.npb-icon-search,.npb-icon-searchfield:after { background-position: -611px 0px !important; }
.npb-icon-checkbox-off { background-position: -681px 1px !important; }
.npb-icon-checkbox-on { background-position: -647px 1px !important; }
.npb-icon-radio-off { background-position: -752px 1px !important; }
.npb-icon-radio-on { background-position: -717px 1px !important; }

/* begin icon pack definitions */
/* second row */
.npb-icon-email { background-position: 1px -17px !important; }
.npb-icon-page { background-position: -36px -17px !important; }
.npb-icon-question { background-position: -71px -17px !important; }
.npb-icon-foursquare { background-position: -107px -17px !important; }
.npb-icon-dollar { background-position: -215px -17px !important; }
.npb-icon-euro { background-position: -251px -17px !important; }
.npb-icon-pound { background-position: -287px -17px !important; }
.npb-icon-apple { background-position: -323px -17px !important; }
.npb-icon-chat { background-position: -359px -17px !important; }
.npb-icon-trash { background-position: -395px -17px !important; }
.npb-icon-mappin { background-position: -467px -17px !important; }
.npb-icon-direction { background-position: -503px -17px !important; }
.npb-icon-heart { background-position: -539px -17px !important; }
.npb-icon-wrench { background-position: -575px -17px !important; }
.npb-icon-play { background-position: -611px -17px !important; }
.npb-icon-pause { background-position: -647px -17px !important; }
.npb-icon-stop { background-position: -683px -17px !important; }
.npb-icon-person { background-position: -719px -17px !important; }
.npb-icon-music { background-position: -755px -17px !important; }

/* third row */
.npb-icon-wifi { background-position: -35px -34px !important; }
.npb-icon-phone { background-position: -72px -36px !important; }
.npb-icon-power { background-position: -107px -35px !important; }
.npb-icon-lightning { background-position: -251px -35px !important; }
.npb-icon-android { background-position: -323px -35px !important; }

.npb_extended_icon {background-color:rgba(0,0,0,.0); background-repeat: no-repeat; 
                    height:18px; width:18px;}

.icon_with_text{}
.icon_with_text .npb_extended_icon{display:inline-block;  margin:0px}
.icon_with_text .text{display:inline-block; padding-bottom:5px}

.footer_status_icon1{ position:absolute; top:10px; left:4px; display:none}
.footer_status_icon2{ position:absolute; top:10px; left:24px; display:none}