<ul data-divider-theme="b" data-theme="b" data-inset="true" data-role="listview">
  <li data-role="list-divider" >Activity</li>
  <li class="npb-wrap npb-medium" data-corners="false" data-shadow="false"  data-wrapperels="div" data-theme="d">
    <p><%= personal_message(:participation) %> <%= @notification.occasion.name  %></p>
  </li>
</ul>
