<div id="network_error" class="page">
  <%= render :partial => "ftui_header" %>
  
  <div class="content inset" >
    <h1>No Connection</h1>
    Internet connection lost. Please check your network connection.
    <div class="button_box">
      <span data-instaclick="UserHandler.go_home()" class="flat_button grey">Skip It</span>
      <span data-instaclick="Pager.back()" class="flat_button blue">Try Again</span>
    </div>
  </div>
</div>
