<div id="no_network" class="page" >
  
  <div class="content" >
    <h1>No Connection</h1>
    No internet connection.  You may not see all albums or create new ones.  New photos will be uploaded when connectivity is restored.
    <div class="button_box">
      <span onclick="UserHandler.go_home()" data-role="button" data-inline="true" data-mini="true" data-theme="a">OK</span>
    </div>
  </div>
</div>
