<div id="welcome2" class="ftui page">
  
  <%= render :partial => 'ftui_header' %>
  
  <div class="content" >
    <h1>Hello <span class="first_name"></span>,</h1>
    <p>Welcome to <span class="bold"><%= site_name %></span>!</p>
    <p>We make it easy for you and your friends to form a shared photo album.</p>
    <p>Shall we get you set up?</p>
    
    <div class="button_box">
      <div class="flat_button blue" data-instaclick="FtuiController.set_me_up()">Set me up!</div>
    </div>
  </div>
    
</div>

