<ul data-role="listview" class="add_photos_banner npb-list  npb-wrap">
  <li data-icon="false">
   <a href='#'>
     <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
      <col style="width:auto">
      <col style="width:130px">
      <tr>
        <td>
          <h1><span class="first_name"></span> please add your photos!</h1>
        </td>
        <td style="text-align:right">
          <%= render :partial => 'pick_pic_button_content' %>
          <%= render :partial => 'camera_button_content' %>
        </td>
      </tr>
     </table>
   </a>
  </li>
</ul>