<div id="app_running" data-role="page"  data-theme="a">
  <%= render :partial => 'header' %>
  
  <div data-role="content"  data-theme="a" >
    <h1>Registered User App Running</h1>
    This where the user goes when he has completed the registration flow or if he was previously registered. We probably need to work out the following Scenarios.
    <h2>FTUI</h2>
    <h3>At existing event</h3>
    <ul>
      <li>Confirm event and size</li>
      <li>Invite others</li>
      <li>Take and tag first pic</li>
      <li>See pics of others</li>
    </ul>
    
    <h3>Not at an existing event</h3>
    (note this is probably not critical for early testing leave this one out?)
    <ul>
      <li>Take and tag pic</li>
      <li>Create an event</li>
    </ul>
  </div>  
  
  <%= render :partial => 'footer' %>
</div>
