<div id="contact_select" data-role="page"  data-theme="c">
 

<div class="ui-content">
  <div style="border:1px solid red; ">
    This is a fixed box.
  </div> 
  <div style="height:300px; overflow:scroll">
  <ul>
    <% 100.times do |n| %>
     <li>Some text</li>
    <% end  %>
  </ul> 
  </div> 
</div>  
  
</div>
