<div id="confirm_invite_details" data-role="dialog"  data-theme="c">
  
  <div data-role="header" data-theme="b">
    <h1>Details</h1>
  </div>  
  
  <div data-role="content" >
    <h1>What does this mean?</h1>
    <p>Your <strong><%= site_name %></strong> app lets you contribute to a collaborative album of <strong><span class="current_occasion"></span>
</strong> so people you know here can see photos you have snapped and vice versa.</p> 
    <p>Saying yes will invite <strong><span class="invitees"></span></strong> to participate with you in contributing to this album.</p> 
    <p>Saying yes means that you want to join in the fun of contributing to and enjoying a <em>Living Photo Album</em> of <strong><span class="current_occasion"></span></strong>.</p>
    <div class="button_box">
      <a href="#invite" data-role="button" data-inline="true" data-theme="b">OK</a>
    </div>
  </div>
  
  
</div>
