<div id="local_pic_dialog" data-role="dialog"  data-theme="a">
  
  <div data-role="header" data-theme="a">
    <h1>Photo uploading</h1>
  </div>  
  
  <div data-role="content" >
    <p>This photo is still uploading to the server. Try again in a few moments.</p>
    <div class="center">
      <span href="#" data-role="button" data-inline="true" data-theme="b" data-mini="true" onclick="GalleryController.show(current_occasion())">Try Again</span>
    </div>
  </div>
  
  
</div>
