<div id="no_invite" data-role="dialog"  data-theme="c">
  
  <div data-role="header" data-theme="b">
    <h1>Sorry</h1>
  </div>  
  
  <div data-role="content" >
    <h2>Sorry you're not participating.</h2>
    <p>Benefits of joining in&hellip;</p>
    <ul>
      <li>Photos are better when shared.</li>
      <li>A collaborative album is much more fun.</li>
      <li>Your pics effortlessly organized and preserved.</li>
    </ul>
    <div class="button_box">
      <a href="#confirm_invite" data-role="button" data-inline="true" data-theme="b">OK</a>
    </div>
  </div>
  
  
</div>
