<div id="occasions" data-role="page" data-theme="a">
  
  <div data-role="header" data-position="fixed">
    <h1 class="click_to_refresh npb-admin">Albums</h1>
    <a href="#new_occasion_dialog" class="ui-btn-left" data-icon="plus">New</a>
    
    <%= render :partial => 'camera_button_head' %>
  </div>
  
  <div data-role="content">
  </div>
  
  <%= render :partial => "footer" %>
</div>