<ul data-role="listview" class="participants npb-list  npb-wrap">
  <li data-icon="false">
   <a href='#' onclick="ParticipantsView.more_people()">
     <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
      <col style="width:auto">
      <col style="width:130px">
      <tr>
        <td>
          <h1>People &nbsp; <span class="num_people de-emphasize1" style="font-weight:normal; font-size:12px"></span></h1>
          <p class="people_txt_brief de-emphasize2" style="padding-right:15px"></p>
          <p class="people_txt_long de-emphasize2" style="padding-right:15px"></p>
          <p style="padding-top:8px" class="action_txt de-emphasize1"></p>
        </td>
        <td style="text-align:right">
          <span href=# data-role="button" data-inline="true" data-mini="true" data-theme="b" data-icon="plus" data-iconpos="right" onclick="new AddParticipants">Add People</span>
        </td>
      </tr>
     </table>
   </a>
  </li>
</ul>