<div id="why_invite" data-role="dialog"  data-theme="c">
  
  <div data-role="header" data-theme="b">
    <h1>Why?</h1>
  </div>  
  
  <div data-role="content" >
    <h2>What does <%= site_name %> do with this?</h2>
    <p>Your <strong><%= site_name %></strong> app let you create beautiful group Photo Albums of the occasions you were at.</p>
    <p>When you tell your app who you know at an event or occasion it invites them to participate so you can see their pictures and they can see yours. </p>
    <div class="button_box">
      <a href="#invite" data-role="button" data-inline="true" data-theme="b">OK</a>
    </div>
  </div>
  
  
</div>
